# Config file for automatic testing at travis-ci.org
# This file will be regenerated if you run travis_pypi_setup.py

language: python

python:
 - "3.6"

env:
 - FLAKE_IGNORE="E201,E241,E226"

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
 - "pip install --upgrade pip"
 - "pip install -r requirements.txt"
 - "pip install ."
 - "git config --global user.email \"tusculum@gmail.com\""
 - "git config --global user.name \"Tom Barron\""

# command to run tests, e.g. python setup.py test
# script: tox
script:
 - py.test -vv --tb short

# only build branches named 'travis' or tagged with a numeric version
# (major.minor.micro format)
branches:
  only:
  - /^\d+\.\d+\.\d+$/
  - travis

